:root{
    --form-font: 22px;
}

.pseudobody{
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
}

.pseudobody h1{
    font-family: 'architect';
}

.block1{
    margin-top: 1%;
    width: 97%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgdiv{
    /* border: 2px solid black; */
    width: 50%;
}
.block1 img{
    width: 75%;
}

.card{
    /* border: 2px solid #800080; */
    width: 25%;
    background: #fdfdfd8f;
    margin: auto 0;
    padding: 10px;
    font-size: var(--form-font);
    border-radius: 10px;
}

.card:active,.card::before ,.card::after, .card:hover{
    background-color: #fdfdfdc7;
    box-shadow: 3px 3px 3px black;
}

#card-login{
    display: none;
}
form{
    /* border: 2px solid green; */
    width: 90%;
    margin: 0 auto;
    margin-top: 0%;
}


input{
    width: 98%;
    height: 25px;
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
}

/* ------SEPARATE STYLING FOR LOGIN FORM--------- */

#login{
    /* border: 2px solid green; */
    width: 83%;
    padding: 22px;
    margin: 0 auto;
    margin-top: 2%;
}

#login input{
    margin: 5% auto;
    
}

.btn{
    background: var(--btn);
    color: white;
    border: 0px;
    margin-top: 2%;
    padding:  7px 10px;
    border-radius: 10px;
}

.smessage{
    margin-top: 2%;
    font-family: 'dancing';
    font-size: 25px;
}


/* STYLING FOR FORGET PASSWORD PREVIEW */
.afbody{
    /* border: 2px solid black; */
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
}
.for1{
    /* border: 2px solid rgb(128, 10, 10); */
    width: 35%;
}
.forimg{
    width: 100%;
}

.forcard{
    background: rgba(235, 235, 235, 0.774);
    padding: 20px;
    border-radius: 30px 10px 30px 10px;
    height: max-content;
    margin: auto 0;
}
.forcard h2{
    margin-top: 3%;
}
#formforget{
    margin-top: 5%;
    font-size: 23px;
    font-family: 'sigma';
}
#bb{
    margin-top: 4%;
}
#formforget input{
    height: 23px;
    padding: 2px;
    border: 2px solid black;
}
.forgetbody{
    display: none;
}
#fmsg{
    margin-top: 5%;
    margin-left: 4%;
    text-align: center;
}

#fanswer{
    height: 23px;
    padding: 2px;
    border: 2px solid black;
}

.btn2{
    background: var(--btn);
    color: white;
    border: 0px;
    margin-top: 5%;
    font-size: 17px;
    padding:  3px 10px;
    border-radius: 10px;
}